extends ../layout.pug

block content
    h1 Kegerator Control 
    .container
        .row
            .col-sm-12.col-md-4
                .row
                    .col-sm-12
                        #current-temp
                            span.value -
                            span.unit &deg;F
                    .col-sm-12
                        #setpoint 
                            span.value -
                            span.unit &deg;F

        .row
            .col-sm-12.col-md-4
                .button-group
                    button.large.primary#down -
                    button.large.primary#up +